<a href="https://colab.research.google.com/github/savirhkhan/Scikit_learn_dump/blob/main/Plynomial_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
#Loading data
df = pd.read_csv('/content/drive/MyDrive/Data sets/advertising.csv')

In [4]:
df.shape

(200, 4)

In [5]:
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [6]:
X = df.drop('Sales',axis =1)

In [7]:
y = df['Sales']

In [8]:
#importing polynomial features library
from sklearn.preprocessing import PolynomialFeatures

In [9]:
#creating instance of polynimial features
poly_converter = PolynomialFeatures(degree= 2,include_bias = False)

In [10]:
poly_converter.fit(X)

PolynomialFeatures(include_bias=False)

In [11]:
#transforming the features to the degree 2 without including bias means no 1
poly_features =  poly_converter.transform(X)

In [12]:
poly_features.shape

(200, 9)

In [13]:
# importing lib for train test septration on poly_features dataset created 
from sklearn.model_selection import train_test_split

In [14]:
#diving data set into train and test
X_train, X_test, y_train, y_test = train_test_split(poly_features, y, test_size=0.3, random_state=101)

In [15]:
#loading lib for linear regression 
from sklearn.linear_model import LinearRegression

In [16]:
#Creating Linear model
my_model = LinearRegression()

In [17]:
#fitting model with poly_features
my_model.fit(X_train,y_train)

LinearRegression()

In [18]:
#doing frediction on X_test data set created
test_predict = my_model.predict(X_test)

In [19]:
#Checkin Beta co-efficient
my_model.coef_

array([ 7.74943882e-02, -3.01295400e-02, -7.93771897e-03, -1.11245536e-04,
        5.12535556e-04, -6.47629641e-05,  1.22518214e-03,  1.43286372e-04,
        1.68151712e-04])

In [22]:
#Importing error metrics
from sklearn.metrics import mean_absolute_error , mean_squared_error

In [23]:
#generating Mean absolute error
MAE = mean_absolute_error(y_test,test_predict)

In [24]:
#Generating Mean Squared error
MSE = mean_squared_error(y_test,test_predict)

In [25]:
#generaing Root mean squared error
RMSE = np.sqrt(MSE)

In [26]:
MSE

2.1303839221203207

In [27]:
RMSE

1.4595834755574348